{% extends "base.html" %}
{% load static %}
{% block title %}<title>Login | ToDoChat</title>{% endblock title %}
{% block content %}
    <section class="login">
        <a href="{% url 'index' %}" class="login__link" title="ToDoChat">
            <img src="{% static 'img/logo.png' %}" alt="ToDoChat logo" class="logo">
        </a>
        <h1 class="title">{{ title }}</h1>
        <div class="login__form">
            <form action="" class="form" method="post">
                {% csrf_token %}
                {{ form }}
                <button class="form__button btn btn-primary" name="login_button" type="submit" value="log in">Log In
                </button>
                <h3 class="sign-up">don't have an account? <a href="{% url 'register' %}" title="Sign up">sign up</a>
                </h3>
                <h3 class="sign-up mt-0">forgot your password? <a href="{% url 'password_reset' %}" title="Sign up">reset
                    password</a></h3>
            </form>
        </div>
    </section>
{% endblock content %}