{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Reset password | ToDoChat</title>
{% endblock title %}
{% block content %}
    <header class="navbar bg-primary p-3"><h1 class="mb-0 text-light">Reset password</h1></header>
    <main class="content mt-0 p-2">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </main>
{% endblock content %}