{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<title>Reset password | ToDoChat</title>
{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
{% include "app_base.html" %}
{% else %}
<header class="navbar bg-primary p-3">
    <h1 class="mb-0 text-light">Reset password</h1>
</header>
{% endif %}
<div class="content {% if not user.is_authenticated %}mt-0{% endif %}">
    <form method="post" class="p-2">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div id="div_id_email" class="form-group"> <label for="id_email" class=" requiredField">
                Email
                <span class="asteriskField">*</span>
            </label>
            <div class=""> <input type="email" name="email" autocomplete="email" maxlength="254"
                    class="emailinput form-control" required="" id="id_email" value="{{ request.user.email }}" readonly>
            </div>
        </div>
        {% else %}
        {{ form|crispy }}
        {% endif %}
        <div class="form-group">
            <button class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
{% endblock content %}