{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "app_base.html" %}
<main class="content content--profile profile--edit">
    <button  onClick="window.history.back();return false;" class="back__button">
        <i class="fas fa-angle-left"></i>
   </button>
    <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile image" class="profile__img">
    <form method="POST" enctype="multipart/form-data" class="login__form">
        {% csrf_token %}
        {{ u_form }}
        {{ p_form }}
        <button type="submit" class="btn btn-primary btn-lg mb-3" name="update_button">Update</button>
    </form>
</main>
{% endblock content %}