{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "app_base.html" %}

<main class="content content--profile">
    <button  onClick="window.history.back();return false;" class="back__button">
        <i class="fas fa-angle-left"></i>
   </button>
    <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile image" class="profile__img">
    <h1 class="title--thin">{{ user.username }}</h1>
    {% if user.profile.description %}
    <p class="profile__description">{{ user.profile.description }}</p>
    {% endif %}
    <span class="profile__description">Account created:</span>
    <h3 class="profile__content">{{ user.date_joined|date:"d F Y"}}</h3>
    <span class="profile__description">E-mail:</span>
    <h3 class="profile__content">{{ user.email }}</h3>
    <a href="{% url 'profile_edit' %}" class="edit__button" title="Edit profile">
        <i class="fas fa-pen"></i>
    </a>
    
</main>
{% endblock content %}