{% extends "base.html" %}
{% load static %}
{% block title %}<title>Invitations</title>{% endblock title %}
{% block content %}
    {% include "app_base.html" %}

    <main class="content content--profile">
        <button onClick="window.history.back();return false;" class="back__button">
            <i class="fas fa-angle-left"></i>
        </button>
        <h1 class="title--thin margin">Invitations</h1>
        {% if object_list.count == 0 %}
            <h2 class="title--thin">No invitations.</h2>
        {% endif %}
    <ul class="user_search_list" id="invitations_list">
                {% for invitation in object_list %}
                    <li class="search__li">
                        <div class="card user_search">
                            <div class="card__description"
                                 style="background-image: url('{{ invitation.inviting.profile.background.url }}')">
                                <img src="{{ invitation.inviting.profile.image.url }}" class="card-img-top"
                                     alt="{{ invitation.inviting }} profile picture">
                                <a class="card__title" href="{% url 'user_detail' invitation.inviting %}">{{ invitation.inviting.username }}</a>
                            </div>
                            <div class="card-body">
                                        <form method="POST" class="search_invite-form accept flex w-100">
                                            {% csrf_token %}
                                            <input type="hidden" name="inviting" value="{{ invitation.inviting.username }}">
                                            <button type="submit" class="btn btn-success accept_invite_friend_button"
                                                    value="accept"
                                                    name="invite_button" data-user="{{ invitation.inviting.username }}"
                                                    data-user_img="{{ invitation.inviting.profile.image.url }}">Accept
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger reject_friend_button swap"
                                                    value="reject" data-user="{{ invitation.inviting.username }}"
                                                    data-user_img="{{ invitation.inviting.profile.image.url }}"
                                                    name="invite_button">Reject
                                            </button>
                                        </form>

                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

    </main>
    <script>
        invitationsListListeners.accept();
        invitationsListListeners.reject();
    </script>
{% endblock content %}