{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ object }} Profile | ToDoChat</title>
{% endblock title %}
{% block content %}
    {% include "app_base.html" %}

    <main class="content content--profile">
        <button onClick="window.history.back();return false;" class="back__button">
            <i class="fas fa-angle-left"></i>
        </button>
        <section class="profile__image-section">
            <img src="{{ object.profile.image.url }}" alt="{{ object.username }} profile image" class="profile__img">
        </section>
        <h1 class="title--thin profile_invited">{{ object.username }}</h1>
        {% if not object == user %}
            {% if object in user.profile.friends.all %}
                {% include "profile_friend_base.html" %}
            {% else %}
                {% if invitation == 'waiting' %}
                    <form method="POST" class="user_detail_form">
                        {% csrf_token %}
                        <input type="hidden" name="invited" value="{{ object.username }}">
                        <button type="submit" class="btn btn-danger cancel_invite_friend_button" value="cancel"
                                name="invite_button" data-user="{{ object.username }}"
                                data-user_img="{{ object.profile.image.url }}">Cancel
                            invitation
                        </button>
                    </form>
                {% elif invitation == 'invited' %}
                    <form method="POST" class="user_detail_form invited">
                        {% csrf_token %}
                        <input type="hidden" name="invited"
                               value="{{ object.username }}">{# invited is basically inviting, but it's name like that to make python func shorter #}
                        <button type="submit" class="btn btn-success" value="invite" name="invite_button">Accept
                        </button>
                        <button type="submit" class="btn btn-danger ml-1" name="invite_button" value="reject">Reject
                        </button>
                    </form>
                {% else %}
                    <form method="POST" class="user_detail_form">
                        {% csrf_token %}
                        <input type="hidden" name="invited" value="{{ object.username }}">
                        <button type="submit" class="btn btn-primary invite invite_friend_button" value="invite"
                                name="invite_button" data-user="{{ object.username }}"
                                data-user_img="{{ object.profile.image.url }}">Add friend
                        </button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if object.profile.description %}
            <p class="profile__description">{{ object.profile.description }}</p>
        {% endif %}
        <span class="profile__description ml-3">Account created:</span>
        <h3 class="small font-weight-bold ml-3 profile__content">{{ object.date_joined|date:"d F Y" }}</h3>
        <span class="profile__description ml-3 mt-1">E-mail:</span>
        <h3 class="small font-weight-bold profile__content ml-3">{{ object.email }}</h3>
        {% if object == user %}
            <a href="{% url 'profile_edit' %}" class="edit__button btn btn-primary text-center ml-3 mt-2"
               title="Edit profile">
                Edit profile
            </a>
        {% endif %}
    </main>
    <style>
        .profile__image-section {
            background: url('{{ object.profile.background.url}}');
            background-size: cover;
        }
    </style>
    <script>
        profileListeners.addFriendEventListeners();
        profileListeners.cancelInvitationEventListeners();
        const profile_friend_section = `{% include "profile_friend_base.html" %}`;
    </script>
{% endblock content %}