{% load templatetags %}
{% load static %}
<header class="navbar header bg-primary">
    {% if taskbar_img %}
        <a href="{% url 'user_detail' friend.username %}" class="header__server-link">
            <img src="{{ friend.profile.image.url }}" alt="" class="nav__server-logo">
            <h2 class="task__bar">{{ taskbar_title }}</h2>
        </a>
    {% else %}
        <h2 class="task__bar">{{ taskbar_title }}</h2>
    {% endif %}

    <button class="header__button" type="button" aria-label="Open navigation" aria-expanded="false"
            aria-controls="side-nav" tabindex="0">
        <span class="button__hr"></span>
        <span class="button__hr"></span>
        <span class="button__hr"></span>
    </button>
</header>

<nav class="side__nav bg-primary">
    <div class="hello__div">
        <a href="{% url 'profile' %}" title="My profile" class="d-flex align-items-center">
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile picture" class="profile__photo">
            <h2 class="hello">
                {{ user.username }}
            </h2>
        </a>


    </div>
    <section class="nav__groups">

        <a href="{% url 'user_invitations' %}"
           class="groups__h2 flex {% if user.invited_user.count < 1 %}invitation_counter--hidden{% endif %}"
           title="Invitations">Invitations
            <span id="invitation_counter" class="badge ml-auto mr-1 bg-light text-dark">{{ user.invited_user.count }}</span></a>
        <h2 class="groups__h2">Groups</h2>
        {% if user.server_set.count > 0 %}
            <ul class="groups__ul">
                {% for server, notification_counter in user.server_set.all|get_server_notification_counter:request.user %}
                    <li class="groups__li base pl-3 {% if forloop.counter <= 5 %}opened{% endif %}"
                        data-server="{{ server.id }}">
                        <a href="{% url 'server_detail' server.id %}" class="groups__li flex"
                           title="{{ server.name }} group">
                            {% if server.image == 'default.png' %}
                                <div class="groups__img mr-2">{{ server.name.0 }}</div>
                            {% else %}
                                <img src="{{ server.image.url }}" alt="{{ server.name }} server image"
                                     class="groups__img mr-2">
                            {% endif %}
                            <h3 class="li__servername">{{ server.name }}</h3>
                            <span class="badge ml-auto mr-1 bg-light text-dark {% if notification_counter == 0 %}notification-badge{% endif %}">{{ notification_counter }}</span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        {% else %}
            <a href="{% url 'create_server' %}" class="nav__add-button" title="Create server">
                Add group
                <span class="li__span li__plus">
                <i class="fas fa-plus"></i>
            </span>
            </a>
        {% endif %}
        {% if user.server_set.all.count > 5 %}
            <button class="load_more" aria-expanded="false" aria-label="Show additional groups">Load more</button>
        {% endif %}
        <a href="{% url 'user_tasks' %}?order=-deadline" class="groups__h2 groups__h2--top-border flex"
           title="All tasks">All tasks
            <span class="badge ml-auto mr-1 bg-light text-dark">{{ user.users_tasks.count }}</span>
        </a>
        {% if user.profile.friends.count > 0 %}
            <h2 class="groups__h2">Friends</h2>
        {% endif %}
        <ul class="groups__ul friends__ul">
            {% for friend, chat_id, notification_counter in request.user|get_friends_chat_id %}
                <li class="flex pl-3 groups__li" data-channel="{{ chat_id.id }}">
                    <a href="{% url 'user_chat' friend.username %}" class="groups__li"
                       title="{{ friend.username }} profile">
                        <img src="{{ friend.profile.image.url }}" alt="{{ friend.username }} profile picture"
                             class="users__img">
                        {{ friend.username }}
                        <span class="badge ml-auto mr-1 bg-light text-dark {% if notification_counter == 0 %}notification-badge{% endif %}">{{ notification_counter }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <div class="add__li">
        <a href="{% url 'user_search' %}" class="nav__add-button nav__add-button--friend" title="Create server">
            Add friend
            <span class="li__span li__plus">
                <i class="fas fa-user-plus"></i>
            </span>
        </a>
    </div>
    {% if user.server_set.count > 0 %}
        <div class="add__li add__li--friend">
            <a href="{% url 'create_server' %}" class="nav__add-button" title="Create server">
                Add group
                <span class="li__span li__plus">
                <i class="fas fa-plus"></i>
            </span>
            </a>
        </div>
    {% endif %}
    <div class="bottom__side">
        <a href="{% url 'logout' %}" class="bottom__button bottom__button-logout" tabindex="-1" title="Logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
        <a href="{% url 'index' %}" class="bottom__button bottom__button-home" tabindex="-1" title="Home">
            <i class="fas fa-home"></i>
        </a>
        <a class="bottom__button bottom__button-settings" href="{% url 'profile_edit' %}" title="Profile settings">
            <i class="fas fa-cog"></i>
        </a>


    </div>

</nav>
{% include "notification_ws_base.html" %}
<script>
    function close_websocket(e) {
        console.error('Chat socket closed unexpectedly');
    }

    {% for server in request.user.server_set.all %}
        const serverSocket{{ forloop.counter }} = new ReconnectingWebSocket(
            wsStart
            + window.location.host
            + '/ws/server/'
            + '{{ server.id }}/'
        );
        serverSocket{{ forloop.counter }}.onmessage = function (e) {
            let data = JSON.parse(e.data);
            if (localStorage['last_msg_id'] !== String(data.id)) {
                localStorage.setItem('last_msg_id', data.id);
                increment_notification_count(data.server, data.channel);
            }
            let server_badge = document.querySelector(`.groups__li[data-server="${data.server}"] .badge`);
            server_badge.innerText = parseInt(server_badge.innerText) + 1;
        }


    {% endfor %}


</script>
<script src="{% static 'js/app.js' %}"></script>