{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% block extra_head %}
    <script>
        let calendar_month = {{ month }};
        let calendar_year = {{ year }};
        $(document).ready(function () {
            let changeCalendarSection = document.querySelector(".change_calendar_date");
            let calendarSection = $(".calendar_section");
            let calendarForm = document.querySelector(".calendar__form");
            let submitCalendarFormBtn = document.querySelector("#calendar__search");

            // If user has no tasks. #tasks element won't be displayed
            // so prev/next month section can be shown all the time
            let tasksElem = document.querySelector("#tasks");
            if (tasksElem !== null) {
                let taskSectionPos;
                let winHeight = window.innerHeight;
                window.addEventListener('resize', () => {
                    // Update winHeight when user changes window size
                    winHeight = window.innerHeight;
                });
                $(window).scroll(function () {
                    taskSectionPos = winHeight - tasksElem.getBoundingClientRect().top;
                    if (taskSectionPos > 60) {
                        changeCalendarSection.classList.add("hidden");
                    } else {
                        changeCalendarSection.classList.remove("hidden");
                    }
                });
            }

            function getPreviousMonth() {
                let prev_month_year = calendar_year;
                let prev_month = calendar_month - 1;
                if (prev_month === 0) {  // if month is January, month - 1 gives 0
                    prev_month = 12;
                    prev_month_year = calendar_year - 1;
                }
                return {"month": prev_month, "year": prev_month_year};
            }

            function getNextMonth() {
                let next_month_year = calendar_year;
                let next_month = calendar_month + 1;
                if (next_month === 13) {  // if month is December, month + 1  gives 13
                    next_month = 1;
                    next_month_year = calendar_year + 1;
                }
                return {"month": next_month, "year": next_month_year}
            }

            // This function adds eventListener to "Search" button so it can change month in calendar using ajax call
            function updateCalendarButtonListener() {
                submitCalendarFormBtn = document.querySelector("#calendar__search");
                submitCalendarFormBtn.type = "button";
                submitCalendarFormBtn.addEventListener("click", function () {
                    // Refresh variable value so it has new values
                    calendarForm = document.querySelector(".calendar__form");
                    updateCalendar(calendarForm.month.value, calendarForm.year.value);
                });
            }

            function updateCalendar(month, year) {
                let endpoint = "/calendar/";
                let data = {"month": month, "year": year};
                calendar_month = month;
                calendar_year = year;
                $.getJSON(endpoint, data)
                    .done(response => {
                        // change calendar content
                        calendarSection.fadeTo("fast", 0).promise().then(() => {
                            calendarSection.html(response["html_from_view"]);
                            calendarSection.fadeTo("fast", 1);

                            // Change get params
                            let url = new URL(window.location);
                            url.searchParams.set('month', data["month"]);
                            url.searchParams.set('year', data["year"]);
                            window.history.pushState({}, '', url);

                            updateCalendarButtonListener();
                        })

                    })
            }

            // This code replaces <a> tags (used for calendar navigation for nonJS users )
            // with <button> tags to create ajax requests for calendar update

            // Remove <a> tags
            function replaceChangeDateA() {
                $('.change_calendar_date .btn').remove();

                // 1st button (previous month)
                let prevMonthBtn = document.createElement("button");
                let prevMonthIcon = document.createElement("i");
                prevMonthIcon.classList.add("fas", "fa-angle-left");
                prevMonthBtn.classList.add("btn", "btn-primary", "w-50");
                prevMonthBtn.type = "button";
                prevMonthBtn.addEventListener("click", () => {
                    let prevMonth = getPreviousMonth();
                    updateCalendar(prevMonth["month"], prevMonth["year"]);
                })

                // 2nd button (next month) using already created 1st button with changed classes and event listeners
                let nextMonthBtn = prevMonthBtn.cloneNode(true);
                let nextMonthIcon = prevMonthIcon.cloneNode(true);
                nextMonthIcon.classList.remove("fa-angle-left");
                nextMonthIcon.classList.add("fa-angle-right");

                prevMonthBtn.append(prevMonthIcon);
                prevMonthBtn.innerHTML += "Previous month";

                nextMonthBtn.innerText = "Next month"
                nextMonthBtn.appendChild(nextMonthIcon);
                nextMonthBtn.addEventListener("click", () => {
                    let nextMonth = getNextMonth();
                    updateCalendar(nextMonth["month"], nextMonth["year"]);
                })

                changeCalendarSection.append(prevMonthBtn);
                changeCalendarSection.append(nextMonthBtn);
            }

            replaceChangeDateA();
            updateCalendarButtonListener();
        });

    </script>
{% endblock extra_head %}
{% block title %}
    <title>ToDoChat</title>
{% endblock title %}
{% block content %}
    {% include "app_base.html" %}
    <main class="content">
        <section class="calendar_section">
            {{ calendar }}
        </section>
        <form action="" method="get">
            <section class="change_calendar_date">
                <a href="{% url 'index' %}{{ prev_month_params }}" class="btn btn-primary w-50"><i
                        class="fas fa-angle-left"></i> Previous month</a>
                <a href="{% url 'index' %}{{ next_month_params }}" class="btn btn-primary w-50">Next month <i
                        class="fas fa-angle-right"></i></a>
            </section>
        </form>
        {% if request.user.users_tasks.count > 0 %}
            <h2 class="text-center mb-3" id="tasks">Closest to deadline</h2>
            <ul class="task__list">
                {% for task in today_tasks %}
                    <li class="task__li {% if forloop.last %}mb-3{% endif %}">
                        <article class="task">
                            <section class="task__top">
                                <a href="{% url 'task_detail' task.server.id task.id %}"
                                   class="task__title">{{ task.title }}<strong
                                        class="task_id">#{{ task.task_id }}</strong>
                                </a>
                                <div class="top__users task_status_section task_status_section--center">
                                    {% if task.status == "open" %}
                                        <span class="badge open">Open</span>
                                    {% elif task.status == "approved" %}
                                        <span class="badge bg-success">Approved</span>
                                    {% elif task.status == "need_more_work" %}
                                        <span class="badge bg-warning">Need more work</span>
                                    {% elif task.status == "submitted_for_review" %}
                                        <span class="badge bg-success">Submitted</span>
                                    {% endif %}
                                </div>
                            </section>
                            <section class="task__date mb-2">
                                <i class="far fa-clock mr-1"></i>
                                {% if task.deadline %}
                                    {{ task.deadline|date:"d M, Y" }}
                                {% else %}
                                    No deadline
                                {% endif %}
                                <div class="task__users">
                                    {% if task.assigned_for.count > 3 %}
                                        {% for user in task.assigned_for.all|slice:":3" %}
                                            <img src="{{ user.profile.image.url }}" class="users__img mr-0"
                                                 alt="{{ user }} profile image">
                                            {% if forloop.last %}
                                                <div class="users__img mr-0 bg-primary">
                                                    +{{ task.assigned_for.count|sub:"3" }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for user in task.assigned_for.all|slice:":3" %}
                                            <img src="{{ user.profile.image.url }}" alt="" class="users__img mr-0">
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </section>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock content %}