{% extends "base.html" %}
{% load static %}
{% block title %}
<title>ToDoChat</title>
{% endblock title %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
    {% include "app_base.html" %}
    <main class="content">
        <section class="section__news">
            <h2 class="news__title">Latest news</h2>
            <article class="card" style="width: 80%">
                <img src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2018/02/p-1-slack.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </article>
        </section>
    </main>
{% endblock content %}