{% load static %}
{% load templatetags %}
<header class="navbar header">
    <a href="{% url 'server_detail' server.id %}" class="header__server-link navbar-brand"
       title="{{ server.name }} groupdetails">
        {% if server.image == 'default.png' %}
            <div class="nav__server-logo">{{ server.name.0 }}</div>
        {% else %}
            <img src="{{ server.image.url }}" alt="{{ server.name }} server image" class="nav__server-logo"/>
        {% endif %} {% if heading %}
        <h1 class="task__bar">{{ heading }}</h1>
    {% endif %}
    </a>

    <button class="header__button" type="button" aria-label="Open navigation" aria-expanded="false"
            aria-controls="side-nav" tabindex="0">
        <span class="button__hr"/></span>
        <span class="button__hr"/></span>
        <span class="button__hr"/></span>
    </button>
</header>
<nav class="side__nav" name="side-nav">
    <div class="hello__div">
        <a href="{% url 'profile' %}" title="Profile">
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile picture" class="profile__photo"/>
        </a>

        <h2 class="hello">{{ user.username }}</h2>
    </div>
    <section class="nav__groups">
        <section class="groups__li groups__li--server">
            {% if server.image == 'default.png' %}
                <div class="groups__img ml-1 p2">{{ server.name.0 }}</div>
            {% else %}
                <img src="{{ server.image.url }}" alt="{{ server.name }} server image" class="groups__img ml-2 mr-1"/>
            {% endif %}
            <a href="{% url 'server_detail' server.id %}" class="groups__li h5" title="{{ server.name }} group">
                {{ server.name }}</a>
        </section>
        <h2 class="groups__h2 groups__h2--top-border">Tasks</h2>
        <a href="{% url 'server_tasks' server.id %}?order=-deadline" class="groups__li pl-3">All tasks <span
                class="badge bg-light text-dark">{{ server.server_tasks.count }}</span></a>
        <a href="{% url 'server_tasks' server.id %}?assigned_for={{ request.user.id }}&order=-deadline"
           class="groups__li pl-3">My tasks <span
                class="badge bg-light text-dark">{{ request.user|get_user_task_count:server.id }}</span></a>
        <h2 class="groups__h2 groups__h2--top-border">Channels</h2>
        <ul class="groups__ul">
            {% for channel in server.channel_set.all %}
                <a href="{% url 'room' server.id channel.name %}" class="groups__li pl-3"
                   title="{{ channel.name }} channel" data-channel="{{ channel.id }}">
                    #{{ channel.name }}
                <span class="badge bg-light text-dark notification-badge">0</span>
                </a>
            {% endfor %}
        </ul>
        {% if user.server_set.count > 1 %}
            <h2 class="groups__h2 groups__h2--top-border">Other groups</h2>
            <ul class="groups__ul">
                {% for server in user.server_set.all %}
                    {% if server != object %}
                        <li class="groups__li base pl-3 {% if forloop.counter <= 5 %}opened{% endif %}">
                            <a href="{% url 'server_detail' server.id %}" class="groups__li"
                               title="{{ server.name }} group">
                                {% if server.image == 'default.png' %}
                                    <div class="groups__img mr-2">{{ server.name.0 }}</div>
                                {% else %}
                                    <img src="{{ server.image.url }}" alt="{{ server.name }} server image"
                                         class="groups__img mr-2">
                                {% endif %}
                                {{ server.name|shorter_name:12 }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        {% endif %}
        {% if user.profile.friends.count > 0 %}
            <h2 class="groups__h2 groups__h2--top-border">Friends</h2>
            <ul class="groups__ul friends__ul">
                {% for friend in user.profile.friends.all %}
                    <li class="flex pl-3 groups__li">
                        <a href="{% url 'user_detail' friend.username %}" class="groups__li"
                           title="{{ friend.username }} profile">
                            <img src="{{ friend.profile.image.url }}" alt="{{ friend.username }} profile picture"
                                 class="users__img">{{ friend.username }}
                        </a>
                    </li>

                {% endfor %}
            </ul>
        {% endif %}
    </section>
    {% if request.user == server.owner %}
        <div class="add__li">
            <button class="nav__add-button" aria-label="Open channel creation" aria-expanded="false">
                Add channel
                <span class="li__span li__plus">
                    <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>
    {% endif %}
    <div class="bottom__side">
        <a href="{% url 'logout' %}" class="bottom__button bottom__button-logout" tabindex="-1" title="Logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
        <a href="{% url 'index' %}" class="bottom__button bottom__button-home" tabindex="-1" title="Home">
            <i class="fas fa-home"></i>
        </a>
        <a class="bottom__button bottom__button-settings" href="{% url 'profile_edit' %}" title="Settings">
            <i class="fas fa-cog"></i>
        </a>
    </div>
</nav>
<div class="modal channelcreation" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create channel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="$('.channelcreation').modal('hide')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" name="name" id="name" class="form-control" minlength="1" maxlength="20"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="$('.channelcreation').modal('hide')">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function showNotificationBadge(channel_id) {
        document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`).style.opacity = 1;
        document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`).innerText = localStorage[`${channel_id}_notifications`]
    }

    function checkServerCounter() {
        {% for channel in server.channel_set.all %}
            if (localStorage["{{ channel.id }}_notifications"] && localStorage["{{ channel.id }}_notifications"] !== "0") {
                showNotificationBadge("{{ channel.id }}");
            }
        {% endfor %}
    }

    checkServerCounter();

    function increment_notification_count(server_id, channel_id) {
        let server_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
        // "" value for opacity is opacity 0
        let LSNotificationsCounter = localStorage[`${server_id}_notifications`];
        let LSChannelNotificationsCounter = localStorage[`${channel_id}_notifications`];
        if (server_badge.style.opacity === "") {
            server_badge.style.opacity = 1;
        }
        if (LSNotificationsCounter) {
            localStorage.setItem(`${server_id}_notifications`, parseInt(LSNotificationsCounter) + 1);
            if(LSChannelNotificationsCounter){
                localStorage.setItem(`${channel_id}_notifications`, parseInt(LSChannelNotificationsCounter) + 1);
            }
            else {
                localStorage.setItem(`${channel_id}_notifications`, "1");
            }
        } else {
            localStorage.setItem(`${server_id}_notifications`, "1");
            localStorage.setItem(`${channel_id}_notifications`, "1");

        }
        server_badge.innerText = parseInt(server_badge.innerText) + 1;
    }

    function close_websocket(e) {
        console.error('Chat socket closed unexpectedly');
    }

    let wsStart = 'ws://'
    if (window.location.protocol === 'https:') {
        wsStart = 'wss://'
    }
    {% for server in request.user.server_set.all %}
        const serverSocket{{ forloop.counter }} = new ReconnectingWebSocket(
            wsStart
            + window.location.host
            + '/ws/server/'
            + '{{ server.id }}/'
        );
        serverSocket{{ forloop.counter }}.onmessage = function (e) {
            let data = JSON.parse(e.data);
            if(data.author !== "{{ request.user }}" && localStorage['last_msg_id'] != data.id){
                localStorage.setItem('last_msg_id', data.id)
                increment_notification_count(data.server, data.channel);
            }

        }


    {% endfor %}


</script>
<script src="{% static 'js/app.js' %}"></script>