{% load static %}

<header class="navbar header">
    <a href="{% url 'server_detail' server.id %}" class="header__server-link navbar-brand"
        title="{{server.name}} groupdetails">
        {% if server.image == 'default.png' %}
        <div class="nav__server-logo">{{ server.name.0 }}</div>
        {% else %}
        <img src="{{ server.image.url }}" alt="{{ server.name }} server image" class="nav__server-logo">
        {% endif %}
        {% if heading == server.name %}
        <h1 class="task__bar">{{ heading }}</h1>
        {% else %}
        <h1 class="task__bar">#{{ heading }}</h1>
        {% endif %}
    </a>

    <button class="header__button" type="button" aria-label="Open navigation" aria-expanded="false"
        aria-controls="side-nav" tabindex="0">
        <hr class="button__hr">
        <hr class="button__hr">
        <hr class="button__hr">
    </button>
</header>
<nav class="side__nav" name="side-nav">
    <div class="hello__div">
        <a href="{% url 'profile' %}" title="Profile">
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile picture" class="profile__photo">
        </a>

        <h2 class="hello">

            {{ user.username }}
        </h2>
    </div>
    <section class="nav__groups">
        <h2 class="groups__h2">Server</h2>
        <section class="groups__li groups__li--server">

            {% if server.image == 'default.png' %}
            <div class="groups__img">{{ server.name.0 }}</div>
            {% else %}
            <img src="{{ server.image.url }}" alt="{{ server.name }} server image" class="groups__img">
            {% endif %}
            <a href="{% url 'server_detail' server.id %}" class="groups__li"
                title="{{server.name}} group">{{ server.name }}</a>
        </section>
        <h2 class="groups__h2 groups__h2--top-border">Channels</h2>
        <ul class="groups__ul">
            {% for channel in server.channel_set.all %}
            <a href="{% url 'room' server.id channel.name %}" class="groups__li"
                title="{{channel.name}} channel">#{{ channel.name }}</a>
            {% endfor %}
            <div class="add__li">
                <button class="nav__add-button" aria-label="Open channel creation" aria-expanded="false">
                    Add channel
                    <span class="li__span li__plus">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>

        </ul>
    </section>
    <div class="bottom__side">
        <a href="{% url 'logout' %}" class="bottom__button bottom__button-logout" tabindex="-1" title="Logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
        <a href="{% url 'index' %}" class="bottom__button bottom__button-home" tabindex="-1" title="Home">
            <i class="fas fa-home"></i>
        </a>
        <a class="bottom__button bottom__button-settings" href="{% url 'profile_edit' %}" title="Settings">
            <i class="fas fa-cog"></i>
        </a>



    </div>

</nav>
<div class="channelcreation">
    <form action="" method="POST" class="channelcreation-form bg-primary">
        {% csrf_token %}
        <label for="name" class="form-label text-light">Name: </label>
        <input type="text" name="name" class="form-control w-75">
        <button type="submit" class="btn btn-light mt-2">Create channel</button>
    </form>
    
</div>


<script src="{% static 'js/app.js' %}"></script>