{% extends "base.html" %}
{% block content %}
{% include "server_base.html" %}

<main class="content content--profile">
    <img src="{{ object.image.url }}" alt="{{ object.name }} server image" class="profile__img">
    <h1 class="title--thin">{{ object.name }}</h1>
    {{ object.owner.name }}
    <button  onClick="window.history.back();return false;" class="back__button">
         <i class="fas fa-angle-left"></i>
    </button>
    <form method="POST" class="login__form">
        {% csrf_token %}
        {{ form }}
        <button class="form__button form__button--edit" name="login_button" type="submit">Update</button>
    </form>
   
    
</main>
{% endblock content %}