<script>
    let scheduled_functions_time = {
        'invite': 0,
        'accept': 0,
        'cancel': 0
    }
    let interval = 1500;

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let wsStart = 'ws://'
    if (window.location.protocol === 'https:') {
        wsStart = 'wss://'
    }

    // username = nick of user who accepted our friend request
    function addToFriendSection(username, user_img, chat_id) {
        if(chat_id !== null){
            // If users were friends before, they will connect automatically because their UsersChat object is already created
            connectFriendConsumer(chat_id);
        }
        let friend_li = document.createElement("li");
        friend_li.classList.add("flex", "pl-3", "groups__li");
        friend_li.dataset.channel = chat_id;
        let link = document.createElement("a");
        link.classList.add("groups__li");
        link.title = `${username} profile`;
        link.href = `/profile/${username}`;
        let img = document.createElement("img");
        img.classList.add("users__img");
        img.src = user_img;
        img.alt = `${username} profile picture`;
        let span = document.createElement("span");
        span.classList.add("badge", "bg-light", "text-dark", "notification-badge");
        span.innerText = "0";

        link.appendChild(img);
        link.innerHTML += username;
        link.appendChild(span);
        friend_li.appendChild(link);
        document.querySelector(".friends__ul").appendChild(friend_li);
    }

    function connectToPersonalWS() {
        const personalWS = new ReconnectingWebSocket(
            wsStart
            + window.location.host
            + '/ws/{{ request.user }}/'
        );
        personalWS.onmessage = function (e) {
            console.log(e.data);
            let data = JSON.parse(e.data);
            if (data.type === "accept_invitation") {
                let username = data.invited;
                let user_img = data.invited_img;
                let chat_id = data.chat;
                addToFriendSection(username, user_img, chat_id);
                if (document.querySelector("#user_detail_form")) {
                    let form = document.querySelector("#user_detail_form");
                    let section = document.createElement("section");
                    section.classList.add("friend__buttons");
                    section.id = "friend__buttons";
                    section.innerHTML = profile_friend_section;
                    form.parentNode.replaceChild(section, form);
                    document.querySelector('.invite__button.friends').addEventListener("click", openFriendInfo);
                }
                if (document.querySelector("#user_search")) {
                    let btn = document.querySelector(`#cancel_button[data-user="${username}"]`);
                    let link = document.createElement("a");
                    link.classList.add("btn", "btn-primary");
                    link.href = `/profile/${username}/chat`;
                    link.innerText = "Message";
                    btn.parentNode.replaceChild(link, btn);
                }
            } else if (data.type === "invitation") {
                // in app_base and server_base
                let username = data.inviting;
                let notificationCounter = document.querySelector("#invitation_counter");
                if (Number(notificationCounter.innerText === "0")) {
                    notificationCounter.parentNode.classList.remove("invitation_counter--hidden");
                }
                notificationCounter.innerText = Number(notificationCounter.innerText) + 1;
                let invitationList = document.querySelector("#invitations_list");
                if (invitationList) {
                    let ajax_call = function (endpoint) {
                        $.getJSON(endpoint)
                            .done(response => {
                                invitationList.innerHTML += response['html_from_view'];
                                // Add csrf_token value to input in form
                                document.querySelector(`[data-inviting="${data.inviting}"] input[name="csrfmiddlewaretoken"]`).value = getCookie('csrftoken');
                                invitationsListListeners.accept();
                                invitationsListListeners.reject();
                            })
                    }
                    ajax_call(`/components/invitation_card/${data.inviting}`);

                }
                // user_detail view
                let userDetailSection = document.querySelector("#user_detail_form");
                if (userDetailSection) {
                    // Accept button
                    let addFriendBtn = userDetailSection.querySelector(".invite_friend_button")
                    addFriendBtn.innerText = "Accept";
                    addFriendBtn.classList.remove("btn-primary", "invite_friend_button", "invite");
                    let rejectBtn = addFriendBtn.cloneNode(true);
                    addFriendBtn.classList.add("btn-success", "accept_invite_friend_button", "accept");
                    let newAddBtn = addFriendBtn.cloneNode(true);


                    // Reject button
                    rejectBtn.innerText = "Reject";
                    rejectBtn.classList.add("btn-danger", "ml-1", "cancel_invite_friend_button", "reject_button");
                    addFriendBtn.parentNode.append(rejectBtn);
                    addFriendBtn.parentNode.replaceChild(newAddBtn, addFriendBtn);
                    profileListeners.invite();
                    profileListeners.cancel();
                    profileListeners.accept();
                }
                // user_search view

                let invBtn = document.querySelector(`.invite_friend_button[data-user="${username}"]`);
                if(invBtn){
                    invBtn.innerText = "Accept";
                    invBtn.classList.remove("btn-primary", "invite_friend_button");
                    invBtn.classList.add("btn-success", "accept_invite_friend_button");


                    let rejectForm = invBtn.parentNode.cloneNode(true);
                    invBtn.parentNode.classList.add("accept");
                    rejectForm.classList.add("reject");
                    let rejectBtn = rejectForm.querySelector(".btn");
                    rejectBtn.innerText = "Reject";
                    rejectBtn.classList.remove("btn-success", "accept_invite_friend_button");
                    rejectBtn.classList.add("btn-danger", "cancel_invite_friend_button", "reject_button");

                    invBtn.parentNode.parentNode.append(rejectForm);

                    // Replace form elements with their clone so we can remove eventListeners
                    invBtn.parentNode.parentNode.replaceChild(invBtn.parentNode.cloneNode(true), invBtn.parentNode);
                    rejectForm.parentNode.replaceChild(rejectForm.cloneNode(true), rejectForm);

                    // Add event listeners to new replaced forms
                    user_searchListeners.cancelInvitationEventListeners();
                    user_searchListeners.acceptInvitationEventListeners();
                }

            }
        }
    }

    connectToPersonalWS();

    // Base for every view using these functions. Contains websocket connection + websocket.send
    let invitationBase = {
        invite: function (btn) {
            let date = new Date();
            let milliseconds = date.getTime();
            if ((milliseconds - scheduled_functions_time.invite) > interval) {
                scheduled_functions_time.invite = milliseconds;
                let invited = btn.dataset.user;
                let invited_img = btn.dataset.user_img;

                const inviteWS = new ReconnectingWebSocket(
                    wsStart
                    + window.location.host
                    + `/ws/${invited}/`
                );
                inviteWS.onopen = function () {
                    inviteWS.send(JSON.stringify({
                        'type': 'invitation',
                        'invited': invited,
                        'invited_img': invited_img,
                        'inviting': '{{ request.user }}'
                    }))
                    inviteWS.close();
                }
            }
        },
        cancel: function (btn) {
            let date = new Date();
            let milliseconds = date.getTime();
            if ((milliseconds - scheduled_functions_time.cancel) > interval) {
                scheduled_functions_time.cancel = milliseconds;
                let invited = btn.dataset.user;
                let friend = invited;
                let invited_img = btn.dataset.user_img;
                let inviting = "{{ request.user }}";
                if (btn.classList.contains("reject_button")) {
                    [invited, inviting] = [inviting, invited]
                    btn.parentNode.parentNode.querySelector(".accept").style.display = "none";
                }
                if (btn.classList.contains("swap")) {
                    [invited, inviting] = [inviting, invited];
                }

                const inviteWS = new ReconnectingWebSocket(
                    wsStart
                    + window.location.host
                    + `/ws/${friend}/`
                );
                inviteWS.onopen = function () {
                    inviteWS.send(JSON.stringify({
                        'type': 'cancel_invitation',
                        'invited': invited,
                        'invited_img': invited_img,
                        'inviting': inviting
                    }))
                    inviteWS.close();
                }
            }

        },
        accept: function (btn) {
            let date = new Date();
            let milliseconds = date.getTime();
            if ((milliseconds - scheduled_functions_time.accept) > interval) {
                scheduled_functions_time.accept = milliseconds;
                let inviting = btn.dataset.user;
                let invited_img = btn.dataset.user_img;
                let invited = "{{ request.user }}";

                const inviteWS = new ReconnectingWebSocket(
                    wsStart
                    + window.location.host
                    + `/ws/${inviting}/`
                );
                inviteWS.onopen = function () {
                    inviteWS.send(JSON.stringify({
                        'type': 'accept_invitation',
                        'invited': invited,
                        'invited_img': invited_img,
                        'inviting': inviting
                    }))
                    inviteWS.close();
                }

            }
        }
    }


    let searchInvitationFunctions = {
        invite: function (btn) {
            invitationBase.invite(btn);
            btn.innerText = "Cancel";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-danger");
            btn.id = "cancel_button";
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                searchInvitationFunctions.cancel(new_element);
            });
        },
        cancel: function (btn) {
            invitationBase.cancel(btn);
            btn.innerText = "Invite";
            btn.classList.remove("btn-danger");
            btn.classList.add("btn-primary");
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                searchInvitationFunctions.invite(new_element);
            });
        },
        accept: function (btn) {
            invitationBase.accept(btn);
            let profile_link = document.createElement("a");
            let inviting = btn.dataset.user;
            profile_link.innerText = "Message";
            profile_link.classList.add("btn");
            profile_link.classList.add("btn-primary");
            profile_link.href = `/profile/${inviting}/chat`;
            btn.parentNode.parentNode.append(profile_link);
            btn.parentNode.parentNode.removeChild(document.querySelector(".reject"));
            btn.parentNode.parentNode.removeChild(document.querySelector(".accept"));

        }
    }

    let profileInvitation = {
        cancel: function (btn) {
            invitationBase.cancel(btn);
            btn.innerText = "Add friend"
            btn.classList.add("btn-primary");
            btn.classList.remove("btn-danger");
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                profileInvitation.invite(new_element);
            });
        },
        invite: function (btn) {
            invitationBase.invite(btn);
            btn.innerText = "Cancel invitation";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-danger");
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                profileInvitation.cancel(new_element);
            });
        }
    }
    let invitationsListFunctions = {
        reject: function (btn) {
            invitationBase.cancel(btn);
            btn.innerText = "Rejected";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-danger");
            btn.disabled = true;
            document.querySelector('.accept_invite_friend_button').remove();
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
        },
        accept: function (btn) {
            invitationBase.accept(btn);
            btn.innerText = "Accepted";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-success");
            btn.disabled = true;
            document.querySelector('.reject_friend_button').remove();
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
        }
    }

    // Used in user_search.html
    let user_searchListeners = {
        invitationEventListeners: function () {
            $('.invite_friend_button').click(function (event) {
                event.preventDefault();
                searchInvitationFunctions.invite(this);
            })
        },
        cancelInvitationEventListeners: function () {
            $('.cancel_invite_friend_button').click(function (event) {
                event.preventDefault();
                searchInvitationFunctions.cancel(this);
            })
        },
        acceptInvitationEventListeners: function () {
            $('.accept_invite_friend_button').click(function (event) {
                event.preventDefault();
                searchInvitationFunctions.accept(this);
            })
        }
    }

    let profileListeners = {
        invite: function () {
            $('.invite_friend_button').click(function (event) {
                event.preventDefault();
                profileInvitation.invite(this);
            })
        },
        cancel: function () {
            $('.cancel_invite_friend_button').click(function (event) {
                event.preventDefault();
                profileInvitation.cancel(this);
            })
        },
        accept: function () {
            $('.accept_invite_friend_button').click(function (event) {
                event.preventDefault();
                acceptInvitation(this);
            })
        }
    }

    let invitationsListListeners = {
        reject: function () {
            $('.reject_friend_button').click(function (event) {
                event.preventDefault();
                invitationsListFunctions.reject(this);
            })
        },
        accept: function () {
            $('.accept_invite_friend_button').click(function (event) {
                event.preventDefault();
                invitationsListFunctions.accept(this);
            })
        }
    }

    function resetChannelNotifications(channel_id) {
        localStorage.setItem(`${channel_id}_notifications`, "0");
        console.log(channel_id)
        document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`).style.opacity = 0;
    }

    function showChannelNotificationBadge(channel_id) {
        document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`).style.opacity = 1;
        document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`).innerText = localStorage[`${channel_id}_notifications`]
    }

    function showServerNotificationBadge(server_id) {
        document.querySelector(`.groups__li[data-server="${server_id}"] .badge`).style.opacity = 1;
        document.querySelector(`.groups__li[data-server="${server_id}"] .badge`).innerText = localStorage[`${server_id}_notifications`]
    }

    function checkNotificationCounter() {
        {% for server in user.server_set.all %}
            {% if server != object %}
                if (localStorage["{{ server.id }}_notifications"] !== "0" && !isNaN(localStorage["{{ server.id }}_notifications"])) {
                    showServerNotificationBadge("{{ server.id }}");
                }
            {% endif %}
        {% endfor %}
    }

    function checkServerCounter() {
        {% for channel in server.channel_set.all %}
            if (localStorage["{{ channel.id }}_notifications"] !== "0" && !isNaN(localStorage["{{ channel.id }}_notifications"])) {
                showChannelNotificationBadge("{{ channel.id }}");
            }
        {% endfor %}
    }

    function checkUserNotificationsCounter() {
        {% for channel in request.user.users_chat.all %}
            if (localStorage["{{ channel.id }}_notifications"] !== "0" && !isNaN(localStorage["{{ channel.id }}_notifications"])) {
                showChannelNotificationBadge("{{ channel.id }}");
            }
        {% endfor %}
    }

    checkUserNotificationsCounter();

    function increment_notification_count(server_id, channel_id) {
        let server_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
        if (server_id !== "{{ server.id }}") {
            server_badge = document.querySelector(`.groups__li[data-server="${server_id}"] .badge`);
        }
        // "" value for opacity is opacity 0
        let LSNotificationsCounter = localStorage[`${server_id}_notifications`];
        let LSChannelNotificationsCounter = localStorage[`${channel_id}_notifications`];
        if (server_badge.style.opacity === "") {
            server_badge.style.opacity = 1;
        }
        if (LSNotificationsCounter) {
            localStorage.setItem(`${server_id}_notifications`, parseInt(LSNotificationsCounter) + 1);
            if (LSChannelNotificationsCounter) {
                localStorage.setItem(`${channel_id}_notifications`, parseInt(LSChannelNotificationsCounter) + 1);
            } else {
                localStorage.setItem(`${channel_id}_notifications`, "1");
            }
        } else {
            localStorage.setItem(`${server_id}_notifications`, "1");
            localStorage.setItem(`${channel_id}_notifications`, "1");

        }
    }

    function incrementUserNotificationCount(channel_id) {
        let profile_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
        let LSChannelNotificationsCounter = localStorage[`${channel_id}_notifications`];
        if (LSChannelNotificationsCounter) {
            localStorage.setItem(`${channel_id}_notifications`, parseInt(localStorage[`${channel_id}_notifications`]) + 1);
        } else {
            localStorage.setItem(`${channel_id}_notifications`, "1");
        }
        if (profile_badge.style.opacity === "") {
            profile_badge.style.opacity = 1;
        }
    }

    function connectFriendConsumer(channel_id) {
        const userServerSocket = new ReconnectingWebSocket(
            wsStart
            + window.location.host
            + '/ws/chat_notifications/'
            + `${channel_id}/`
        );
        userServerSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            let channel_id = data.channel_id
            if (data.author !== "{{ request.user }}" && Number(localStorage['last_msg_id']) !== data.msg_id) {
                localStorage.setItem('last_msg_id', data.msg_id);
                incrementUserNotificationCount(channel_id);
            }

            let profile_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
            profile_badge.innerText = Number(profile_badge.innerText) + 1;
        }
    }
    {% if is_room_html is not True %}
        {% for channel in request.user.users_chat.all %}
            connectFriendConsumer("{{ channel.id }}");
        {% endfor %}
    {% else %}
        {% for channel in request.user.users_chat.all %}
            {% if channel != object %}
                connectFriendConsumer("{{ channel.id }}");
            {% endif %}
        {% endfor %}
    {% endif %}
</script>