<script>
    const interval = 1500;

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let wsStart = 'ws://'
    if (window.location.protocol === 'https:') {
        wsStart = 'wss://'
    }

    // username = nick of user who accepted our friend request
    function addToFriendSection(username, user_img, chat_id) {
        if (chat_id !== null) {
            // If users were friends before, they will connect automatically because their UsersChat object is already created
            connectFriendConsumer(chat_id);
        }
        let friend_li = document.createElement("li");
        friend_li.classList.add("flex", "pl-3", "groups__li");
        friend_li.dataset.channel = chat_id;
        let link = document.createElement("a");
        link.classList.add("groups__li");
        link.title = `${username} profile`;
        link.href = `/profile/${username}`;
        let img = document.createElement("img");
        img.classList.add("users__img");
        img.src = user_img;
        img.alt = `${username} profile picture`;
        let span = document.createElement("span");
        span.classList.add("badge", "bg-light", "text-dark", "notification-badge");
        span.innerText = "0";

        link.appendChild(img);
        link.innerHTML += username;
        link.appendChild(span);
        friend_li.appendChild(link);
        document.querySelector(".friends__ul").appendChild(friend_li);
    }

    function connectToPersonalWS() {
        const personalWS = new ReconnectingWebSocket(
            wsStart
            + window.location.host
            + '/ws/{{ request.user }}/'
        );
        personalWS.onmessage = function (e) {
            console.log(e.data);
            let notificationCounter = document.querySelector("#invitation_counter");
            let data = JSON.parse(e.data);
            if (data.type === "accept_invitation") {
                let username = data.invited;
                let user_img = data.invited_img;
                let chat_id = data.chat;
                // Add to friend section in left nav
                addToFriendSection(username, user_img, chat_id);

                // Decrement notification counter and hide it if counter = 0
                notificationCounter.innerText = Number(notificationCounter.innerText) - 1;
                if (Number(notificationCounter.innerText === "0")) {
                    notificationCounter.parentNode.classList.add("invitation_counter--hidden");
                }
                if (document.querySelector("#user_detail_form")) {
                    let form = document.querySelector("#user_detail_form");
                    let section = document.createElement("section");
                    section.classList.add("friend__buttons");
                    section.id = "friend__buttons";
                    section.innerHTML = profile_friend_section;
                    form.parentNode.replaceChild(section, form);
                    document.querySelector('.invite__button.friends').addEventListener("click", openFriendInfo);
                }
                if (document.querySelector("#user_search")) {
                    let btn = document.querySelector(`#cancel_button[data-user="${username}"]`);
                    let link = document.createElement("a");
                    link.classList.add("btn", "btn-primary");
                    link.href = `/profile/${username}/chat`;
                    link.innerText = "Message";
                    btn.parentNode.replaceChild(link, btn);
                }
            } else if (data.type === "invitation") {
                // in app_base and server_base
                let username = data.inviting;
                if (Number(notificationCounter.innerText === "0")) {
                    notificationCounter.parentNode.classList.remove("invitation_counter--hidden");
                }
                // Increment notification counter
                notificationCounter.innerText = Number(notificationCounter.innerText) + 1;
                let invitationList = document.querySelector("#invitations_list");
                if (invitationList) {
                    // Get invitation card for user who invited us
                    let ajax_call = function (endpoint) {
                        $.getJSON(endpoint)
                            .done(response => {
                                invitationList.innerHTML += response['html_from_view'];
                                // Add csrf_token value to input in form
                                document.querySelector(`[data-inviting="${data.inviting}"] input[name="csrfmiddlewaretoken"]`).value = getCookie('csrftoken');
                                invitationsListListeners.accept();
                                invitationsListListeners.reject();
                            })
                    }
                    ajax_call(`/components/invitation_card/${data.inviting}`);

                }
                // user_detail view
                let userDetailSection = document.querySelector("#user_detail_form");
                if (userDetailSection) {
                    // Accept button
                    let addFriendBtn = userDetailSection.querySelector(".invite_friend_button")
                    addFriendBtn.innerText = "Accept";
                    addFriendBtn.classList.remove("btn-primary", "invite_friend_button", "invite");
                    let rejectBtn = addFriendBtn.cloneNode(true);
                    addFriendBtn.classList.add("btn-success", "accept_invite_friend_button", "accept");
                    let newAddBtn = addFriendBtn.cloneNode(true);


                    // Reject button
                    rejectBtn.innerText = "Reject";
                    rejectBtn.classList.add("btn-danger", "ml-1", "cancel_invite_friend_button", "reject_button");
                    addFriendBtn.parentNode.append(rejectBtn);
                    addFriendBtn.parentNode.replaceChild(newAddBtn, addFriendBtn);
                    profileListeners.invite();
                    profileListeners.cancel();
                    profileListeners.accept();
                }
                // user_search view
                let invBtn = document.querySelector(`.invite_friend_button[data-user="${username}"]`);
                if (invBtn) {
                    invBtn.innerText = "Accept";
                    invBtn.classList.remove("btn-primary", "invite_friend_button");
                    invBtn.classList.add("btn-success", "accept_invite_friend_button");


                    let rejectForm = invBtn.parentNode.cloneNode(true);
                    invBtn.parentNode.classList.add("accept");
                    rejectForm.classList.add("reject");
                    let rejectBtn = rejectForm.querySelector(".btn");
                    rejectBtn.innerText = "Reject";
                    rejectBtn.classList.remove("btn-success", "accept_invite_friend_button");
                    rejectBtn.classList.add("btn-danger", "cancel_invite_friend_button", "reject_button");

                    invBtn.parentNode.parentNode.append(rejectForm);

                    // Replace form elements with their clone so we can remove eventListeners
                    invBtn.parentNode.parentNode.replaceChild(invBtn.parentNode.cloneNode(true), invBtn.parentNode);
                    rejectForm.parentNode.replaceChild(rejectForm.cloneNode(true), rejectForm);

                    // Add event listeners to new replaced forms
                    user_searchListeners.cancel();
                    user_searchListeners.accept();
                }


            }
            /*
            cancel_invitation type is used for:
            * a) when other user cancel his invitation for us (request.user = invited)
            * b) when our invitation is rejected (request.user = inviting)
            *  */
            else if (data.type === "cancel_invitation") {

                // Decrement notification counter and hide it if counter = 0
                if (data.invited === "{{ request.user }}") {
                    notificationCounter.innerText = Number(notificationCounter.innerText) - 1;
                    if (Number(notificationCounter.innerText === "0")) {
                        notificationCounter.parentNode.classList.add("invitation_counter--hidden");
                    }
                }

                // user_invitations view
                let invitationList = document.querySelector("#invitations_list");
                if (invitationList) {
                    let invitationCard = document.querySelector(`.search__li[data-user="${data.inviting}"]`);
                    if (invitationCard) {
                        // Remove invitation card for user who canceled invitation
                        invitationCard.remove();
                    }
                }
                // user_detail view
                let userDetailForm = document.querySelector("#user_detail_form");
                if (userDetailForm) {
                    if (data.invited === "{{ request.user }}") {
                        document.querySelector(".cancel_invite_friend_button").remove();
                        // Change accept button to invite button
                        let acceptBtn = document.querySelector(".accept_invite_friend_button");
                        acceptBtn.innerText = "Add friend";
                        acceptBtn.classList.add("invite", "invite_friend_button", "btn-primary");
                        acceptBtn.classList.remove("btn-success", "accept_invite_friend_button");
                        acceptBtn.parentNode.replaceChild(acceptBtn.cloneNode(true), acceptBtn);
                        profileListeners.invite();
                    }
                    else if(data.inviting === "{{ request.user }}"){
                        let cancelBtn = document.querySelector(".cancel_invite_friend_button");
                        cancelBtn.innerText = "Add friend";
                        cancelBtn.classList.remove("btn-danger", "cancel_invite_friend_button");
                        cancelBtn.classList.add("btn-primary", "invite_friend_button", "invite");
                        cancelBtn.parentNode.replaceChild(cancelBtn.cloneNode(true), cancelBtn);
                        profileListeners.invite();
                    }
                }
                // user_search view
                let acceptBtn = document.querySelector(`.accept_invite_friend_button[data-user="${data.inviting}"]`);
                if (acceptBtn) {
                    acceptBtn.innerText = "Invite";
                    acceptBtn.parentNode.parentNode.querySelector("form.reject").remove();
                    acceptBtn.classList.add("btn-primary", "invite_friend_button");
                    acceptBtn.classList.remove("accept_invite_friend_button", "btn-success");
                    // Replace button with its clone so it doesn't have any event listeners
                    acceptBtn.parentNode.replaceChild(acceptBtn.cloneNode(true), acceptBtn);
                    // Add event listener
                    user_searchListeners.invite();
                }
                let cancelBtn = document.querySelector(`#cancel_button[data-user="${data.invited}"]`);
                if (cancelBtn) {
                    cancelBtn.innerText = "Invite";
                    cancelBtn.classList.add("btn-primary", "invite_friend_button");
                    cancelBtn.value = "invite";
                    cancelBtn.classList.remove("btn-danger", "cancel_invite_friend_button");
                    cancelBtn.removeAttribute("id");
                    cancelBtn.parentNode.replaceChild(cancelBtn.cloneNode(true), cancelBtn);
                    user_searchListeners.invite();
                }
            }
        }
    }

    connectToPersonalWS();

    // Base for every view using these functions. Contains websocket connection + websocket.send
    let invitationBase = {
        invite: function (btn) {
            let date = new Date();
            let milliseconds = date.getTime();
            let invited = btn.dataset.user;
            let lastTimeUsed = Number(localStorage[`invite_delay_${invited}`]);
            if ((milliseconds - lastTimeUsed) > interval || isNaN(lastTimeUsed)) {
                let invited_img = btn.dataset.user_img;

                const inviteWS = new ReconnectingWebSocket(
                    wsStart
                    + window.location.host
                    + `/ws/${invited}/`
                );
                inviteWS.onopen = function () {
                    inviteWS.send(JSON.stringify({
                        'type': 'invitation',
                        'invited': invited,
                        'invited_img': invited_img,
                        'inviting': '{{ request.user }}'
                    }))
                    inviteWS.close();
                }
                localStorage.setItem(`invite_delay_${invited}`, String(date.getTime()));
            }

        },
        cancel: function (btn) {
            let date = new Date();
            let milliseconds = date.getTime();
            let invited = btn.dataset.user;
            let friend = invited;
            let invited_img = btn.dataset.user_img;
            let inviting = "{{ request.user }}";
            if (btn.classList.contains("swap") || btn.classList.contains("reject_button")) {
                [invited, inviting] = [inviting, invited];
            }
            let lastTimeUsed = Number(localStorage[`cancel_delay_${invited}`]);
            if ((milliseconds - lastTimeUsed) > interval || isNaN(lastTimeUsed)) {
                if (btn.classList.contains("reject_button")) {
                    btn.parentNode.parentNode.querySelector(".accept").style.display = "none";
                }
                const inviteWS = new ReconnectingWebSocket(
                    wsStart
                    + window.location.host
                    + `/ws/${friend}/`
                );
                inviteWS.onopen = function () {
                    inviteWS.send(JSON.stringify({
                        'type': 'cancel_invitation',
                        'invited': invited,
                        'invited_img': invited_img,
                        'inviting': inviting
                    }))
                    inviteWS.close();
                }
                localStorage.setItem(`cancel_delay_${invited}`, String(date.getTime()));
            }

        },
        accept: function (btn) {
            let inviting = btn.dataset.user;
            let invited_img = btn.dataset.user_img;
            let invited = "{{ request.user }}";
            const inviteWS = new ReconnectingWebSocket(
                wsStart
                + window.location.host
                + `/ws/${inviting}/`
            );
            inviteWS.onopen = function () {
                inviteWS.send(JSON.stringify({
                    'type': 'accept_invitation',
                    'invited': invited,
                    'invited_img': invited_img,
                    'inviting': inviting
                }))
                inviteWS.close();
            }
            let notificationCounter = document.querySelector("#invitation_counter");
            notificationCounter.innerText = Number(notificationCounter.innerText) - 1;
            if (Number(notificationCounter.innerText === "0")) {
                notificationCounter.parentNode.classList.add("invitation_counter--hidden");
            }


        }
    }


    let searchInvitationFunctions = {
        invite: function (btn) {
            invitationBase.invite(btn);
            btn.innerText = "Cancel";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-danger");
            btn.id = "cancel_button";
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                searchInvitationFunctions.cancel(new_element);
            });
        },
        cancel: function (btn) {
            invitationBase.cancel(btn);
            btn.innerText = "Invite";
            btn.classList.remove("btn-danger", "cancel_invite_friend_button", "reject_button");
            btn.parentNode.classList.remove("reject");
            btn.classList.add("btn-primary", "invite_friend_button");
            let acceptForm = btn.parentNode.parentNode.querySelector("form.accept");
            if(acceptForm){
                acceptForm.remove();
            }
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                searchInvitationFunctions.invite(new_element);
            });
        },
        accept: function (btn) {
            invitationBase.accept(btn);
            let profile_link = document.createElement("a");
            let inviting = btn.dataset.user;
            profile_link.innerText = "Message";
            profile_link.classList.add("btn");
            profile_link.classList.add("btn-primary");
            profile_link.href = `/profile/${inviting}/chat`;
            btn.parentNode.parentNode.append(profile_link);
            btn.parentNode.parentNode.removeChild(document.querySelector(".reject"));
            btn.parentNode.parentNode.removeChild(document.querySelector(".accept"));

        }
    }

    let profileInvitation = {
        cancel: function (btn) {
            invitationBase.cancel(btn);
            btn.innerText = "Add friend"
            btn.classList.add("btn-primary", "invite_friend_button", "invite");
            btn.classList.remove("btn-danger", "cancel_invite_friend_button", "reject_button");
            let acceptBtn = btn.parentNode.querySelector(".accept_invite_friend_button");
            if(acceptBtn){
                acceptBtn.remove();
            }
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                profileInvitation.invite(new_element);
            });
        },
        invite: function (btn) {
            invitationBase.invite(btn);
            btn.innerText = "Cancel invitation";
            btn.classList.remove("btn-primary", "invite", "invite_friend_button");
            btn.classList.add("btn-danger", "cancel_invite_friend_button");
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
            new_element.addEventListener("click", function () {
                profileInvitation.cancel(new_element);
            });
        }
    }
    let invitationsListFunctions = {
        reject: function (btn) {
            invitationBase.cancel(btn);
            btn.innerText = "Rejected";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-danger");
            btn.disabled = true;
            document.querySelector('.accept_invite_friend_button').remove();
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
        },
        accept: function (btn) {
            invitationBase.accept(btn);
            btn.innerText = "Accepted";
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-success");
            btn.disabled = true;
            document.querySelector('.reject_friend_button').remove();
            let old_element = btn;
            let new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);
        }
    }

    // Used in user_search.html
    let user_searchListeners = {
        invite: function () {
            $('.invite_friend_button').click(function (event) {
                event.preventDefault();
                searchInvitationFunctions.invite(this);
            })
        },
        cancel: function () {
            $('.cancel_invite_friend_button').click(function (event) {
                event.preventDefault();
                searchInvitationFunctions.cancel(this);
            })
        },
        accept: function () {
            $('.accept_invite_friend_button').click(function (event) {
                event.preventDefault();
                searchInvitationFunctions.accept(this);
            })
        }
    }

    let profileListeners = {
        invite: function () {
            $('.invite_friend_button').click(function (event) {
                event.preventDefault();
                profileInvitation.invite(this);
            })
        },
        cancel: function () {
            $('.cancel_invite_friend_button').click(function (event) {
                event.preventDefault();
                profileInvitation.cancel(this);
            })
        },
        accept: function () {
            $('.accept_invite_friend_button').click(function (event) {
                event.preventDefault();
                acceptInvitation(this);
            })
        }
    }

    let invitationsListListeners = {
        reject: function () {
            $('.reject_friend_button').click(function (event) {
                event.preventDefault();
                invitationsListFunctions.reject(this);
            })
        },
        accept: function () {
            $('.accept_invite_friend_button').click(function (event) {
                event.preventDefault();
                invitationsListFunctions.accept(this);
            })
        }
    }
    function increment_notification_count(server_id, channel_id) {
        let server_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
        if (server_id !== "{{ server.id }}") {
            server_badge = document.querySelector(`.groups__li[data-server="${server_id}"] .badge`);
        }
        // "" value for opacity is opacity 0
        if (server_badge.style.opacity === "") {
            server_badge.style.opacity = 1;
        }
    }

    function incrementUserNotificationCount(channel_id) {
        let profile_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
        if (profile_badge.style.opacity === "") {
            profile_badge.style.opacity = 1;
        }
    }

    function connectFriendConsumer(channel_id) {
        const userServerSocket = new ReconnectingWebSocket(
            wsStart
            + window.location.host
            + '/ws/chat_notifications/'
            + `${channel_id}/`
        );
        userServerSocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            let channel_id = data.channel_id
            if (data.author !== "{{ request.user }}" && Number(localStorage['last_msg_id']) !== data.msg_id) {
                localStorage.setItem('last_msg_id', data.msg_id);
                incrementUserNotificationCount(channel_id);
            }

            let profile_badge = document.querySelector(`.groups__li[data-channel="${channel_id}"] .badge`);
            profile_badge.innerText = Number(profile_badge.innerText) + 1;
        }
    }
    {% if is_room_html is not True %}
        {% for channel in request.user.users_chat.all %}
            connectFriendConsumer("{{ channel.id }}");
        {% endfor %}
    {% else %}
        {% for channel in request.user.users_chat.all %}
            {% if channel != object %}
                connectFriendConsumer("{{ channel.id }}");
            {% endif %}
        {% endfor %}
    {% endif %}
</script>